In [ ]:
# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#Data Quality and Validation in BigQuery using BigFrames

<table align="left">
  <td style="text-align: center">
    <a href="https://colab.research.google.com/github/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb">
      <img width="32px" src="https://www.gstatic.com/pantheon/images/bigquery/welcome_page/colab-logo.svg" alt="Google Colaboratory logo"><br> Open in Colab
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://console.cloud.google.com/vertex-ai/colab/import/https:%2F%2Fraw.githubusercontent.com%2FGoogleCloudPlatform%2Fgenerative-ai%2Fmain%2Fgemini%2Fuse-cases%2Fapplying-llms-to-data%2Fsemantic-search-in-bigquery%2Fstackoverflow_questions_semantic_search.ipynb">
      <img width="32px" src="https://lh3.googleusercontent.com/JmcxdQi-qOpctIvWKgPtrzZdJJK-J3sWE1RsfjZNwshCFgE_9fULcNpuXYTilIR2hjwN" alt="Google Cloud Colab Enterprise logo"><br> Open in Colab Enterprise
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://console.cloud.google.com/vertex-ai/workbench/deploy-notebook?download_url=https://raw.githubusercontent.com/GoogleCloudPlatform/generative-ai/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb">
      <img src="https://www.gstatic.com/images/branding/gcpiconscolors/vertexai/v1/32px.svg" alt="Vertex AI logo"><br> Open in Vertex AI Workbench
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://console.cloud.google.com/bigquery/import?url=https://github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb">
      <img src="https://www.gstatic.com/images/branding/gcpiconscolors/bigquery/v1/32px.svg" alt="BigQuery Studio logo"><br> Open in BigQuery Studio
    </a>
  </td>
  <td style="text-align: center">
    <a href="https://github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb">
      <img width="32px" src="https://www.svgrepo.com/download/217753/github.svg" alt="GitHub logo"><br> View on GitHub
    </a>
  </td>
</table>

<div style="clear: both;"></div>

<b>Share to:</b>

<a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A//github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb" target="_blank">
  <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" alt="LinkedIn logo">
</a>

<a href="https://bsky.app/intent/compose?text=https%3A//github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb" target="_blank">
  <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Bluesky_Logo.svg" alt="Bluesky logo">
</a>

<a href="https://twitter.com/intent/tweet?url=https%3A//github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb" target="_blank">
  <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/X_icon_2.svg" alt="X logo">
</a>

<a href="https://reddit.com/submit?url=https%3A//github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb" target="_blank">
  <img width="20px" src="https://redditinc.com/hubfs/Reddit%20Inc/Brand/Reddit_Logo.png" alt="Reddit logo">
</a>

<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//github.com/GoogleCloudPlatform/generative-ai/blob/main/gemini/use-cases/applying-llms-to-data/semantic-search-in-bigquery/stackoverflow_questions_semantic_search.ipynb" target="_blank">
  <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook logo">
</a>

| | |
|-|-|
|Author(s) | [Vinod Patel](https://github.com/sethijaideep) |

## Overview
This notebook demonstrates how to perform essential data quality tasks directly within BigQuery,leveraging the `bigframes` library for a familiar pandas-like experience on large datasets.

Data quality is a critical aspect of any data-driven initiative, especially in machine learning and analytics. Poor data quality can lead to inaccurate insights, flawed models, and unreliable decisions. This notebook provides a practical guide to:

1.  **Data Profiling**: Understanding the structure, content, and quality of your data through descriptive statistics.
2.  **Anomaly Detection**: Identifying unusual or suspicious data points that deviate from expected patterns.
3.  **Data Cleansing & Validation**: Implementing techniques to correct errors, handle inconsistencies, and ensure data conforms to predefined rules.

By using `bigframes`, these operations are executed efficiently on your BigQuery data, avoiding the need to move large datasets out of the data warehouse.

## About the dataset

This notebook utilizes a publicly available dataset from Google Cloud's BigQuery Public Datasets program:

**Dataset Name**: `austin_bikeshare`
**Table Name**: `bikeshare_trips`

This dataset contains historical trip data for the Austin B-cycle bike-sharing program. It includes information such as:

* `trip_id`: Unique identifier for each trip.
* `subscriber_type`: Type of user (e.g., 'Subscriber', 'Customer').
* `start_time`, `end_time`: Timestamp of trip start and end.
* `duration_minutes`: Duration of the trip in minutes.
* `start_station_name`, `end_station_name`: Names of the start and end stations.
* `bike_id`: Identifier for the bike used.
* `bike_type`: type of the bike used.

You can explore this dataset directly in the BigQuery console from [here](https://console.cloud.google.com/bigquery?project=bigquery-public-data&ws=!1m5!1m4!4m3!1sbigquery-public-data!2saustin_bikeshare!3sbikeshare_trips)

#Installation

In [ ]:
!pip install bigframes  --quiet

### Colab only

Uncomment and run the following cell to restart the kernel:

In [ ]:
# Automatically restart kernel after installs so that your environment can access the new packages
# import IPython

# app = IPython.Application.instance()
# app.kernel.do_shutdown(True)

# Environment setup

Complete the tasks in this section to set up your environment.

### Set up your Google Cloud project

**The following steps are required, regardless of your notebook environment.**

1. [Select or create a Google Cloud project](https://console.cloud.google.com/cloud-resource-manager). When you first create an account, you get a $300 credit towards your compute/storage costs.

2. [Make sure that billing is enabled for your project](https://cloud.google.com/billing/docs/how-to/modify-project).

3. [Click here](https://console.cloud.google.com/flows/enableapi?apiid=bigquery.googleapis.com,bigqueryconnection.googleapis.com,cloudfunctions.googleapis.com,run.googleapis.com,artifactregistry.googleapis.com,cloudbuild.googleapis.com,cloudresourcemanager.googleapis.com) to enable the following APIs:

  * BigQuery API
  * BigQuery Connection API

4. If you are running this notebook locally, install the [Cloud SDK](https://cloud.google.com/sdk).

#### Set your project ID

If you don't know your project ID, try the following:
* Run `gcloud config list`.
* Run `gcloud projects list`.
* See the support page: [Locate the project ID](https://support.google.com/googleapi/answer/7014113).

In [ ]:
PROJECT_ID = ""  # @param {type:"string"}

# Set the project id
! gcloud config set project {PROJECT_ID}

Updated property [core/project].

#### Authenticate your Google Cloud account

Depending on your Jupyter environment, you might have to manually authenticate. Follow the relevant instructions below.

**Vertex AI Workbench**

Do nothing, you are already authenticated.

**Local JupyterLab instance**

Uncomment and run the following cell:

In [ ]:
# ! gcloud auth login

**Colab**

Uncomment and run the following cell:

In [ ]:
# from google.colab import auth
# auth.authenticate_user()

Import Libraries

In [ ]:
import bigframes.pandas as bf
import bigframes.bigquery as bq
from google.cloud import bigquery  # Still useful for some direct BQ client operations like INFORMATION_SCHEMA
import pandas as pd  # For local display if needed
import datetime # For timestamp comparisons

In [ ]:
#set project id using bigframe option
bf.options.bigquery.project=PROJECT_ID

# Load BigQuery table into a bigframe

In [ ]:

# Public dataset details
BQ_PROJECT_ID = "bigquery-public-data"
DATASET_ID = "austin_bikeshare"
TABLE_ID = "bikeshare_trips"

# Full table reference for `bigframes`
FULL_TABLE_REF = f"{BQ_PROJECT_ID}.{DATASET_ID}.{TABLE_ID}"

# Initialize BigQuery client for direct SQL (e.g., INFORMATION_SCHEMA)
bq_client = bigquery.Client()

print(f"Connected to BigQuery via bigframes.")

# Load the BigQuery table into a bigframes DataFrame
try:
    df = bf.read_gbq_table(FULL_TABLE_REF)
    print(f"Successfully loaded BigQuery table into bigframes DataFrame. Shape: {df.shape}")
except Exception as e:
    print(f"Error loading table: {e}")
    print("Please ensure the table exists and you have the necessary permissions.")

Connected to BigQuery via bigframes.

Successfully loaded BigQuery table into bigframes DataFrame. Shape: (2271152, 10)

# 1.Data Profiling
 Data profiling is the process of examining the data available in an information source and collecting statistics and information about that data. It helps us understand the structure, content, and quality of our dataset.

## 1.1 Table Overview (Row Count, Column Names, Data Types)
We'll start by getting a high-level overview of the DataFrame, including its dimensions and column types.

In [ ]:
print("\n--- 1.1 Table Overview ---")
print(f"Total rows: {df.shape[0]}")
print("\nColumn information:")
df.info()

--- 1.1 Table Overview ---
Total rows: 2271152

Column information:
<class 'bigframes.dataframe.DataFrame'>
Index: 2271152 entries, 0 to 2271151
Data columns (total 10 columns):
  #  Column              Dtype
---  ------------------  ------------------------------
  0  trip_id             string
  1  subscriber_type     string
  2  bike_id             string
  3  bike_type           string
  4  start_time          timestamp[us, tz=UTC][pyarrow]
  5  start_station_id    Int64
  6  start_station_name  string
  7  end_station_id      string
  8  end_station_name    string
  9  duration_minutes    Int64
dtypes: Int64(2), string(7), timestamp[us, tz=UTC][pyarrow](1)
memory usage: 199861376 bytes

## 1.2 Column-wise Profiling (Descriptive Statistics)

 We'll examine key statistics for individual columns, focusing on numerical, string, and timestamp types.

###  1.2.1 Numeric Column: `duration_minutes`

This provides count, mean, standard deviation, min, max, and quartiles for numeric columns.

In [ ]:
print("\n--- 1.2.1 Numeric Column: `duration_minutes` ---")
# Describe provides basic stats including count, mean, std, min, max, and quartiles
print(df['duration_minutes'].describe().to_markdown())

# Check nulls specifically
print(f"\nNull count for 'duration_minutes': {df['duration_minutes'].isnull().sum()}")

--- 1.2.1 Numeric Column: `duration_minutes` ---
|       |   duration_minutes |
|:------|-------------------:|
| count |        2.27115e+06 |
| mean  |       28.7192      |
| std   |      125.317       |
| min   |        2           |
| 25%   |        6           |
| 50%   |       12           |
| 75%   |       27           |
| max   |    34238           |

Null count for 'duration_minutes': 0

###  1.2.2 String Column: `start_station_name`
For string columns, we look at non-null count, distinct count, and top occurring values.

In [ ]:
print("\n--- 1.2.2 String Column: `start_station_name` ---")
print(f"Non-null count: {df['start_station_name'].count()}")
print(f"Null count: {df['start_station_name'].isnull().sum()}")
print(f"Distinct count: {df['start_station_name'].nunique()}")
print("\nTop 10 distinct values:")
print(df['start_station_name'].value_counts().head(10).to_markdown())

# Average and max length (using bigframes.Series.str methods)
print(f"\nAverage length: {df['start_station_name'].str.len().mean()}")
print(f"Max length: {df['start_station_name'].str.len().max()}")

--- 1.2.2 String Column: `start_station_name` ---
Non-null count: 2271152
Null count: 0
Distinct count: 201

Top 10 distinct values:
| start_station_name                     |   count |
|:---------------------------------------|--------:|
| 21st/Speedway @ PCL                    |  108559 |
| 21st & Speedway @PCL                   |   71145 |
| Dean Keeton/Speedway                   |   65066 |
| Zilker Park                            |   49294 |
| 26th/Nueces                            |   44179 |
| 21st/Guadalupe                         |   43716 |
| Dean Keeton/Whitis                     |   43215 |
| Guadalupe/West Mall @ University Co-op |   38708 |
| Rainey/Cummings                        |   37040 |
| Riverside/South Lamar                  |   36653 |

Average length: 20.662780386341275
Max length: 64

###  1.2.3 Timestamp Column: `start_time`
For timestamp columns, we examine non-null count, min/max dates, and the overall time range.

In [ ]:
print("\n--- 1.2.3 Timestamp Column: `start_time` ---")
print(f"Non-null count: {df['start_time'].count()}")
print(f"Null count: {df['start_time'].isnull().sum()}")
min_time = df['start_time'].min()
max_time = df['start_time'].max()
print(f"Min datetime: {min_time}")
print(f"Max datetime: {max_time}")

--- 1.2.3 Timestamp Column: `start_time` ---
Non-null count: 2271152
Null count: 0
Min datetime: 2013-12-12 16:48:46+00:00
Max datetime: 2024-06-30 23:44:03+00:00

#  2.Identifying Anomalies

Anomalies are data points that deviate significantly from the expected pattern or distribution. Identifying them is crucial for data quality, as they can indicate errors or unusual events.

##  2.1 Outliers in Numeric Data: `duration_minutes`
We can identify outliers using statistical methods like Z-scores. A Z-score measures how many standard deviations an element is from the mean.

In [ ]:
print("\n--- 2.1 Outliers in Numeric Data: `duration_minutes` ---")

# Calculate mean and standard deviation using bigframes
mean_duration = df['duration_minutes'].mean()
std_duration = df['duration_minutes'].std()

# Calculate Z-score for each trip
df_with_zscore = df.assign(
    z_score=(df['duration_minutes'] - mean_duration) / std_duration
)

# Filter for outliers: Z-score > 5 (extreme) or duration less than 1 minute (suspicious)
numeric_outliers = df_with_zscore[
    (df_with_zscore['z_score'].abs() > 5) | (df_with_zscore['duration_minutes'] < 1)
]

print("Top 10 numeric outliers:")
print(numeric_outliers[['trip_id', 'duration_minutes', 'z_score']].head(10).to_markdown(index=False))

--- 2.1 Outliers in Numeric Data: `duration_minutes` ---
Top 10 numeric outliers:

       trip_id  duration_minutes    z_score
238   27949072               664   5.069404
507   19610941              1776  13.942925
553   19017035               694   5.308798
694   23639366               854   6.585563
1115  18941270               797   6.130715
1466  28792962              1091   8.476772
1709  17541702              3998  31.674006
1760  29665060               773   5.939201
2029  25941849               860   6.633442
2032  27229355              1054    8.18152

[10 rows x 3 columns]

## 2.2 Inconsistent String Values: `subscriber_type`
Inconsistent string values often arise from typos, different casing, or multiple ways of representing the same concept. We can identify rare occurrences.

In [ ]:
print("\n--- 2.2 Inconsistent String Values: `subscriber_type` ---")

# Get value counts and filter for rare ones
inconsistent_types = df['subscriber_type'].value_counts()
rare_types = inconsistent_types[inconsistent_types < 100] # Adjust threshold as needed

if not rare_types.empty:
    print("Rare 'subscriber_type' values (less than 100 occurrences):")
    print(rare_types.to_markdown())
else:
    print("No rare 'subscriber_type' values found below the threshold.")

--- 2.2 Inconsistent String Values: `subscriber_type` ---
Rare 'subscriber_type' values (less than 100 occurrences):
| subscriber_type                                    |   count |
|:---------------------------------------------------|--------:|
| Aluminum Access                                    |      96 |
| Local365 Youth with helmet (age 13-17 riders)      |      91 |
| Madtown Monthly                                    |      63 |
| Annual Pass (Original)                             |      27 |
| FunFunFun Fest 3 Day Pass                          |      27 |
| Annual Plus Membership                             |      26 |
| Republic Rider                                     |      16 |
| Membership: pay once  one-year commitment          |      13 |
| Denver B-cycle Founder                             |      12 |
| Heartland Pass (Annual Pay)                        |      12 |
| UT Student Membership                              |       9 |
| Annual Membership                                  |       7 |
| RideScout Single Ride                              |       4 |
| Local365 Youth (age 13-17 riders)- 1/2 off Special |       3 |
| Annual Pass (30 minute)                            |       2 |
| Membership: pay once, one-year commitment          |       2 |
| 24-Hour Membership                                 |       1 |
| Heartland Pass (Monthly Pay)                       |       1 |
| RESTRICTED                                         |       1 |

## 2.3 Date/Time Anomalies: `start_time`
Date/time anomalies could include dates far in the past or future, or times that are illogical for the context (e.g., trip start time before the bikeshare system existed).

In [ ]:
print("\n--- 2.3 Date/Time Anomalies: `start_time` ---")

# Filter for dates before the bikeshare system (approx 2013) or in the future
date_anomalies = df[
    (df['start_time'] < pd.Timestamp('2013-01-01', tz='UTC')) |
    (df['start_time'] > pd.Timestamp.now(tz='UTC'))
]

if not date_anomalies.empty:
    print("Top 10 date/time anomalies in 'start_time':")
    print(date_anomalies[['trip_id', 'start_time']].head(10).to_markdown(index=False))
else:
    print("No date/time anomalies found based on the defined criteria.")

--- 2.3 Date/Time Anomalies: `start_time` ---
No date/time anomalies found based on the defined criteria.

# 3.Data Cleansing and Validation
Data cleansing involves fixing identified errors and inconsistencies, while validation ensures data conforms to defined rules and constraints. These operations typically result in a new, cleaner version of your dataset.

## 3.1 Handling NULLs: `end_station_id`
Missing values (NULLs) can be handled by imputation (filling with a default value) or removal. Here, we'll fill with a placeholder.

In [ ]:
print("\n--- 3.1 Handling NULLs: `end_station_id` ---")

# Create a new Series with nulls filled
cleaned_end_station_name = df['end_station_id'].fillna('UNKNOWN_STATION_ID')

# Display a sample of the original and cleaned column
sample_df_nulls = df[df['end_station_id'].isnull()][['trip_id', 'end_station_id']].head(5)
sample_df_nulls = sample_df_nulls.assign(cleaned_end_station_name=cleaned_end_station_name)
print("Sample of 'end_station_id' after NULL handling:")
display(sample_df_nulls)

--- 3.1 Handling NULLs: `end_station_id` ---
Sample of 'end_station_id' after NULL handling:

      trip_id end_station_id cleaned_end_station_name
27   28384660           <NA>       UNKNOWN_STATION_ID
28   28499231           <NA>       UNKNOWN_STATION_ID
91   28392701           <NA>       UNKNOWN_STATION_ID
115  28486724           <NA>       UNKNOWN_STATION_ID
290  28404131           <NA>       UNKNOWN_STATION_ID

[5 rows x 3 columns]

## 3.2 Trimming Whitespace and Standardizing Case: `subscriber_type`
String values often benefit from trimming leading/trailing whitespace and standardizing casing (e.g., all uppercase or all lowercase) to ensure consistency.

In [ ]:
print("\n--- 3.2 Trimming Whitespace and Standardizing Case: `subscriber_type` ---")

# Apply string operations
standardized_subscriber_type = df['subscriber_type'].str.strip().str.upper()

# Display a sample
sample_df_strings = df[['trip_id', 'subscriber_type']].head(5)
sample_df_strings = sample_df_strings.assign(standardized_subscriber_type=standardized_subscriber_type)
print("Sample of 'subscriber_type' after trimming and uppercasing:")
print(sample_df_strings.to_markdown(index=False))

--- 3.2 Trimming Whitespace and Standardizing Case: `subscriber_type` ---
Sample of 'subscriber_type' after trimming and uppercasing:
|   trip_id | subscriber_type         | standardized_subscriber_type   |
|----------:|:------------------------|:-------------------------------|
|   2589756 | 24 Hour Walk Up Pass    | 24 HOUR WALK UP PASS           |
|   3913263 | 24 Hour Walk Up Pass    | 24 HOUR WALK UP PASS           |
|  16769997 | U.T. Student Membership | U.T. STUDENT MEMBERSHIP        |
|  10470370 | Local365                | LOCAL365                       |
|  28581115 | 3-Day Weekender         | 3-DAY WEEKENDER                |

##  3.3 Type Casting and Data Format Validation: `bikeid` (Illustrative)
Sometimes, numeric data might be stored as strings with inconsistent formatting or non-numeric characters.

In [ ]:
# Create a sample DataFrame with invalid data for a clear demonstration
sample_pandas_df = pd.DataFrame({
    'trip_id': [101, 102, 103, 104, 105],
    'bike_id': [9331, 12921, 99999, 13271, 4255], # Original numeric IDs
    'bike_id_as_string': ["9331", "12921", "not-a-bike", "13271", "4255A"], # String version with errors
})

# Copy the local pandas DataFrame to a BigQuery DataFrame
# This creates a reference to a table in BigQuery without moving all the data immediately
df_simulated = bf.read_pandas(sample_pandas_df)


print("\n--- 3.3 Type Casting and Data Format Validation: `bike_id` ---")

# --- CORRECTED & SIMPLIFIED APPROACH ---

# 1. Create a boolean mask to identify strings that consist only of digits.
# The .str.fullmatch(r'\d+') method checks if the entire string matches the pattern for one or more digits.
is_numeric_mask = df_simulated['bike_id_as_string'].str.fullmatch(r'\d+')

# 2. Create the validation status column based on the mask.
# Where the mask is True (it's a valid number string), the status is 'Valid'. Otherwise, it's 'Invalid Format'.
validation_status = is_numeric_mask.where('Valid', 'Invalid Format')

# 3. Create the casted column.
# First, use the mask to replace non-numeric strings with NA (which becomes NULL in BigQuery).
# Then, safely cast the column to a nullable integer type 'Int64'. This now works because all invalid formats are gone.
casted_bike_id = df_simulated['bike_id_as_string'].where(is_numeric_mask).astype("Int64")

# 4. Assign the new columns to the DataFrame for the final display.
# We are creating a new DataFrame that includes the original columns plus our new ones.
df_final_display = df_simulated.assign(
    casted_bike_id=casted_bike_id,
    validation_status=validation_status
)


print("\nSample of 'bike_id' after type casting and validation:")
# Display the final result as markdown.
# The .to_pandas() method executes the query in BigQuery and brings the results back.
print(df_final_display.to_pandas().to_markdown(index=False))

--- 3.3 Type Casting and Data Format Validation: `bike_id` ---

Sample of 'bike_id' after type casting and validation:
|   trip_id |   bike_id | bike_id_as_string   | casted_bike_id   | validation_status   |
|----------:|----------:|:--------------------|:-----------------|:--------------------|
|       101 |      9331 | 9331                | 9331             | True                |
|       102 |     12921 | 12921               | 12921            | True                |
|       103 |     99999 | not-a-bike          | <NA>             | False               |
|       104 |     13271 | 13271               | 13271            | True                |
|       105 |      4255 | 4255A               | <NA>             | False               |

## 3.4 Uniqueness Check: `trip_id` (Primary Key)
Validating primary keys ensures that each record is uniquely identifiable.

In [ ]:
print("\n--- 3.4 Uniqueness Check: `trip_id` (Primary Key) ---")

# Check for duplicates. `duplicated(keep=False)` marks all occurrences of a duplicate.
duplicate_trip_ids = df[df['trip_id'].duplicated(keep=False)]

if duplicate_trip_ids.empty:
    print("No duplicate 'trip_id' found. Column is unique.")
else:
    print("Duplicate 'trip_id' found (showing counts):")
    print(duplicate_trip_ids[['trip_id']].value_counts().to_markdown())

--- 3.4 Uniqueness Check: `trip_id` (Primary Key) ---
No duplicate 'trip_id' found. Column is unique.


## 3.5 Referential Integrity Check: `start_station_id` (Illustrative)
Referential integrity ensures that foreign key values in one table correctly reference existing primary key values in another (master) table.
**NOTE**: This is an illustrative example. The public `austin_bikeshare` dataset does not have a direct master station table within the same dataset that we can easily join to. In a real scenario, you would load your actual master station table into another `bigframes` DataFrame and perform a join.

In [ ]:
print("\n--- 3.5 Referential Integrity Check: `start_station_id` (Illustrative) ---")

# For this public dataset, we'll demonstrate using a hypothetical list of known valid station IDs.
# In a real scenario, you'd load these from a master table (e.g., `bf.read_gbq_table('your_master_stations_table')`).
known_valid_station_ids = bf.Series([2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510]) # Hypothetical valid IDs

# Find start_station_ids that are NOT in our hypothetical list of known valid IDs
invalid_start_station_ids = df[~df['start_station_id'].isin(known_valid_station_ids)]

if invalid_start_station_ids.empty:
    print("No missing 'start_station_id' found (based on illustrative valid IDs).")
else:
    print("Invalid 'start_station_id' found (not in hypothetical valid list):")
    print(invalid_start_station_ids[['trip_id', 'start_station_id']].head(10).to_markdown(index=False))

--- 3.5 Referential Integrity Check: `start_station_id` (Illustrative) ---
Invalid 'start_station_id' found (not in hypothetical valid list):
|   trip_id |   start_station_id |
|----------:|-------------------:|
|   2589756 |               2574 |
|  16769997 |               2547 |
|  10470370 |               3292 |
|  28581115 |               4058 |
|  17397208 |               3794 |
|  22213927 |               3455 |
|  18348656 |               3790 |
|  29350073 |               7189 |
|  23542490 |               3838 |
|  15842522 |               2570 |

/usr/local/lib/python3.11/dist-packages/bigframes/dataframe.py:4404: FutureWarning: Starting with pandas version 3.0 all arguments of to_markdown except for the argument 'buf' will be keyword-only.
  return self.to_pandas(allow_large_results=allow_large_results).to_markdown(buf, mode, index, **kwargs)  # type: ignore

#Wrap Up

This notebook demonstrates how to leverage `bigframes` to perform essential data quality tasks directly within BigQuery. By using a pandas-like interface, you can efficiently profile your data, detect anomalies, and apply cleansing and validation rules at scale.